@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: SF-PRO;
  src: url(./core/fonts/SFProDisplay-Regular.ttf);
} */

:root {
  --font-rgb: 0, 0, 0;
  --bg-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-rgb: 255, 255, 255;
    --bg-rgb: 0, 0, 0;
  }
}

body {
  @apply dark:bg-black dark:text-white transition-all;
}

#container {
  /* Center the container horizontally and vertically. */
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Set the width and height as needed. */
  width: 100%;
  height: 80pt;

  margin-top: 50px;

  /* Add any other styles as required. */
  /* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
  filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1,
#text2 {
  /* position: absolute;
  width: 100%;
  display: inline-block;

  font-family: 'SF-PRO', sans-serif;
  font-size: 150pt;
  font-weight: 800;

  text-align: center;

  user-select: none; */
  @apply absolute w-full text-center font-sans font-bold lg:text-9xl md:text-9xl sm:text-[116px] xs:text-[98px] text-7xl;
}
