@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SF-PRO;
  src: url(../fonts/sfwin-master/SFPro/OpenType/SF-Pro-Display-Regular.otf);
}

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#container {
  /* Center the text in the viewport. */
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;

  /* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
  filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;

  font-family: 'SF-PRO', sans-serif;
  font-size: 150pt;
  font-weight: 800;

  text-align: center;

  user-select: none;
}
