@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SF-PRO;
  src: url(../fonts/sfwin-master/SFPro/OpenType/SF-Pro-Display-Regular.otf);
}

:root {
  --font-rgb: 0, 0, 0;
  --bg-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-rgb: 255, 255, 255;
    --bg-rgb: 0, 0, 0;
  }
}

body {
  @apply dark:bg-black dark:text-white transition-all;
}

#container {
  /* Center the text in the viewport. */
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;
  padding-left: 40px;
  /* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
  filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1,
#text2 {
  /* position: absolute;
  width: 100%;
  display: inline-block;

  font-family: 'SF-PRO', sans-serif;
  font-size: 150pt;
  font-weight: 800;

  text-align: center;

  user-select: none; */
  @apply absolute w-full text-center font-sans font-bold text-9xl;
}
